html{
    scroll-behavior: smooth;
}

.DaniyalPic{
  width: 100%;
  margin-top: 10px;
}

.firsth1{
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px;
}

.buttonPara{
  text-align: center;

}
.CardClassMain{
  display: flex;
  flex-wrap:wrap;
  gap:10px;
  padding: 0px 0px 0px 250px;
}